body {
	background-color: #222222;
	background-image: url("tmnt.gif");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	margin: 0;
}

.container {
	
}