.url-shortener__history td:first-of-type {
            width: 72%;
            text-indent: 5px;
}
.url-shortener__history tr:nth-child(even) {
            background-color: rgba(3, 37, 53, .59); 
            color: #dddddd;
}
.url-shortener__history td {
            line-height: 35px;
}
.url-shortener__history table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
}
#settings input[type="submit"] {
    // color: black;
    background: crimson;
    margin-left: 15px;
    border: none;
    outline: none;
}
.options .url-shortener-tab {
        background: rgba(255, 255, 255, 0.25);
}
.options .tab {
        list-style: none;
        float: left;
        width: 25%;
        text-align: center;
        line-height: 2.5;
        height: 40px;
        border-right: 1px solid black;
}
.url-shortener__input .url-shortener__qrcode {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-flow: column wrap;
                    flex-flow: column wrap;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            margin-top: 15px;
}
.url-shortener__input .url-shortener__info {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-flow: column wrap;
                    flex-flow: column wrap;
            text-align: center;
            font-size: 20px;
            font-size: 1.25rem;
            margin-right: 16px;
            margin-right: 1rem;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
}
.url-shortener__input .url-shortener__info a {
                text-decoration: none;
                color: #FCFFF5;
}
.url-shortener__input input[type="submit"] {
            height: 30px;
            width: 15%;
            border: none;
            border-radius: 0 .5rem .5rem 0;
}
.url-shortener__input input[type="text"]:focus {
            outline: none;
}
.url-shortener__history {
        width: 100%;
        height: calc(99.9% * 5/8 - (10px - 10px * 5/8));
        margin-bottom: 10px;
        background: rgba(69, 90, 100, 0.75);
        font-size: 16px;
        font-size: 1rem;
        overflow-y: auto;
        overflow-x: hidden;
        & td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 3px;
        }
}
.url-shortener__history:last-child {
        & td,
        th {
        }
        margin-bottom: 0;
}
.url-shortener__history a {
            text-decoration: none;
            color: #c6f31a;
            font-size: 17.6px;
            font-size: 1.1rem;
}
@font-face {
            font-family: Alice;
            font-style: normal;
            font-weight: 400;
            src: local("Alice Regular"),local(Alice-Regular),url(//fonts.gstatic.com/s/alice/v8/sZyKh5NKrCk1xkCk_F1S8A.eot?#) format("eot"),url(//fonts.gstatic.com/s/alice/v8/l5RFQT5MQiajQkFxjDLySg.woff2) format("woff2"),url(//fonts.gstatic.com/s/alice/v8/_H4kMcdhHr0B8RDaQcqpTA.woff) format("woff");
}
@font-face {
            font-family: monospace;
            font-style: italic;
            font-weight: 400;
            src: local("Menlo Italic"),local(Menlo-Italic),local("Consolas Italic"),local(Consolas-Italic),local("Courier New Italic");
}
@font-face {
            font-family: monospace;
            font-style: italic;
            font-weight: 700;
            src: local("Menlo Bold Italic"),local(Menlo-BoldItalic),local(Monaco),local("Consolas Bold Italic"),local(Consolas-BoldItalic),local("Courier New Bold Italic");
}
@font-face {
            font-family: monospace;
            font-style: normal;
            font-weight: 400;
            src: local("Menlo Regular"),local(Menlo-Regular),local(Monaco),local(Consolas),local("Courier New");
}
@font-face {
            font-family: monospace;
            font-style: normal;
            font-weight: 700;
            src: local("Menlo Bold"),local(Menlo-Bold),local(Monaco),local("Consolas Bold"),local(Consolas-Bold),local("Courier New Bold");
}
@font-face {
            font-family: sans-serif;
            font-style: italic;
            font-weight: 300;
            src: local("Helvetica Neue Light Italic"),local(HelveticaNeue-LightItalic),local("Helvetica Light Oblique"),local(Helvetica-LightOblique);
}
@font-face {
            font-family: sans-serif;
            font-style: italic;
            font-weight: 400;
            src: local("Helvetica Neue Italic"),local(HelveticaNeue-Italic),local("Helvetica Oblique"),local(Helvetica-Oblique);
}
@font-face {
            font-family: sans-serif;
            font-style: italic;
            font-weight: 700;
            src: local("Helvetica Neue Bold Italic"),local(HelveticaNeue-BoldItalic),local("Helvetica Bold Oblique"),local(Helvetica-BoldOblique);
}
@font-face {
            font-family: sans-serif;
            font-style: normal;
            font-weight: 300;
            src: local("Helvetica Neue Light"),local(HelveticaNeue-Light),local("Helvetica Light"),local(Helvetica-Light);
}
@font-face {
            font-family: sans-serif;
            font-style: normal;
            font-weight: 400;
            src: local(HelveticaNeue),local(Helvetica);
}
@font-face {
            font-family: sans-serif;
            font-style: normal;
            font-weight: 700;
            src: local("Helvetica Neue Bold"),local(HelveticaNeue-Bold),local("Helvetica Bold"),local(Helvetica-Bold);
}

/*Variables*/

:root {

 /*custom properties*/
/*Custom media*/
}

/* root */

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* Fonts */

body {
   font-family: "Alice";
}

/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

body,
html {
    color: #FCFFF5;
    font-size: 1em;
    line-height: 1.4;
    overflow: hidden;
    background: #3E606F;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Custom CSS
   ========================================================================== */

.responsive {
    font-size: calc(16px + 20 * ((100vw - 420px) / 860));
}

@media screen and (min-width: 1280px) {
            .responsive {
                        font-size: 36px;
            }
}

@media screen and (max-width: 420px) {
            .responsive {
                        font-size: 16px;
            }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #d2cccc;
}

/* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
    background-color: rgb(128, 126, 126);
}

/* this will style the thumb, ignoring the track */

/*
::-webkit-scrollbar-button {
    background-color: #d2cccc;
}
*/

/* top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
    background-color: black;
}

/*
we can specify global variable to use flexbox as default instead of floats

@lost flexbox flex;
*/

/* Grids */

.grid-item {
	background: rgb(107, 120, 133);
	height: 100px;
	margin-bottom: 20px;
}

.grid-one {
	width: 100%; /* must be declared on parent*/
}

.grid-one:before { /* must be declared on parent*/ content: ''; display: table;
}

.grid-one:after { /* must be declared on parent*/ content: ''; display: table; clear: both;
}

.grid-one div {
	width: calc(99.9% * 1/1 - (30px - 30px * 1/1))
}

.grid-one div:nth-child(1n) {
            float: left;
            margin-right: 30px;
            clear: none
}

.grid-one div:last-child {
            margin-right: 0
}

.grid-one div:nth-child(1n) {
            margin-right: 0;
            float: right
}

.grid-one div:nth-child(1n + 1) {
            clear: both
}

@media (min-width: 576px) {
            .grid-one div {
		width: calc(99.9% * 1/2 - (30px - 30px * 1/2));
            }
            .grid-one div:nth-child(1n) {
                        float: left;
                        margin-right: 30px;
                        clear: none;
            }
            .grid-one div:last-child {
                        margin-right: 0;
            }
            .grid-one div:nth-child(2n) {
                        margin-right: 0;
                        float: right;
            }
            .grid-one div:nth-child(2n + 1) {
                        clear: both;
            }
	}

@media (min-width: 768px) {
            .grid-one div {
		width: calc(99.9% * 1/3 - (30px - 30px * 1/3));
            }
            .grid-one div:nth-child(1n) {
                        float: left;
                        margin-right: 30px;
                        clear: none;
            }
            .grid-one div:last-child {
                        margin-right: 0;
            }
            .grid-one div:nth-child(3n) {
                        margin-right: 0;
                        float: right;
            }
            .grid-one div:nth-child(3n + 1) {
                        clear: both;
            }
	}

@media (min-width: 992px) {
            .grid-one div {
		width: calc(99.9% * 1/6 - (30px - 30px * 1/6));
            }
            .grid-one div:nth-child(1n) {
                        float: left;
                        margin-right: 30px;
                        clear: none;
            }
            .grid-one div:last-child {
                        margin-right: 0;
            }
            .grid-one div:nth-child(6n) {
                        margin-right: 0;
                        float: right;
            }
            .grid-one div:nth-child(6n + 1) {
                        clear: both;
            }
	}

.nested-grid {
	background: red;
	height: 50px;
	margin-bottom: 10px;
}

/*		VERTICAL GRID 		*/

.grid-two {
	width: 100%;
	height: 500px;
	/* we can use lost center instead of lost utility: clearfix. Also second propertY in this is for padding(left, right)*/
	max-width:80%;
	margin-left:auto;
	margin-right:auto;
	padding-left:48px;
	padding-right:48px;
	max-width:80%;
	margin-left:auto;
	margin-right:auto;
	padding-left:3rem;
	padding-right:3rem;
	padding-top: 48px;
	padding-top: 3rem;
	background: rgb(166, 166, 166);
}

.grid-two:before {
	/* we can use lost center instead of lost utility: clearfix. Also second propertY in this is for padding(left, right)*/
	content: '';
	display: table;
}

.grid-two:after {
	/* we can use lost center instead of lost utility: clearfix. Also second propertY in this is for padding(left, right)*/
	content: '';
	display: table;
	clear: both;
}

.grid-two:before {
	/* we can use lost center instead of lost utility: clearfix. Also second propertY in this is for padding(left, right)*/
	content: '';
	display: table;
}

.grid-two:after {
	/* we can use lost center instead of lost utility: clearfix. Also second propertY in this is for padding(left, right)*/
	content: '';
	display: table;
	clear: both;
}

.grid-two div {
	/* lost row is for vertical grid */
	width: 100%;
	height: calc(99.9% * 1/5 - (30px - 30px * 1/5));
	margin-bottom: 30px;
	position: relative;
}

.grid-two div:last-child {
	/* lost row is for vertical grid */
	margin-bottom: 0;
}

.grid-two div > * {
	/* lost row is for vertical grid */
	position: absolute;
	top: 50%;
	right: auto;
	bottom: auto;
	left: 50%;
	transform: translate(-50%, -50%);
}

.grid-two div p{
	margin: 0;
}

/*  Waffle Grid*/

.grid-three {
	width: 100%;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 48px;
	padding-right: 48px;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 3rem;
	padding-right: 3rem;
	height: 100vh;
}

.grid-three:before {
            content: '';
            display: table;
}

.grid-three:after {
            content: '';
            display: table;
            clear: both;
}

.grid-three:before {
            content: '';
            display: table;
}

.grid-three:after {
            content: '';
            display: table;
            clear: both;
}

.grid-three div {
	width: calc(99.9% * 1/1 - (30px - 30px * 1/1));
	font-size: 2em;
	background: rgb(166, 107, 0)
}

.grid-three div:nth-child(1n) {
            float: left;
            margin-right: 30px;
            clear: none
}

.grid-three div:last-child {
            margin-right: 0
}

.grid-three div:nth-child(1n) {
            margin-right: 0;
            float: right
}

.grid-three div:nth-child(1n + 1) {
            clear: both
}

@media (min-width: 576px) {
            .grid-three div {
		width: calc(99.9% * 1/2 - (30px - 30px * 1/2));
            }
            .grid-three div:nth-child(1n) {
                        float: left;
                        margin-right: 30px;
                        clear: none;
            }
            .grid-three div:last-child {
                        margin-right: 0;
            }
            .grid-three div:nth-child(2n) {
                        margin-right: 0;
                        float: right;
            }
            .grid-three div:nth-child(2n + 1) {
                        clear: both;
            }
	}

@media (min-width: 768px) {
            .grid-three div {
		width: calc(99.9% * 1/3 - (30px - 30px * 1/3));
            }
            .grid-three div:nth-child(1n) {
                        float: left;
                        margin-right: 30px;
                        clear: none;
            }
            .grid-three div:last-child {
                        margin-right: 0;
            }
            .grid-three div:nth-child(3n) {
                        margin-right: 0;
                        float: right;
            }
            .grid-three div:nth-child(3n + 1) {
                        clear: both;
            }
	}

@media (min-width: 992px) {
            .grid-three div {
		width: calc(99.9% * 1/4 - (30px - 30px * 1/4));
		height: calc(99.9% * 1/4 - (30px - 30px * 1/4));
            }
            .grid-three div:nth-child(1n) {
                        float: left;
                        margin-right: 30px;
                        margin-bottom: 30px;
                        clear: none;
            }
            .grid-three div:last-child {
                        margin-right: 0;
                        margin-bottom: 0;
            }
            .grid-three div:nth-child(4n) {
                        margin-right: 0;
            }
            .grid-three div:nth-child(4n + 1) {
                        clear: both;
            }
            .grid-three div:nth-last-child(-n + 4) {
                        margin-bottom: 0;
            }
	}

/*  Flexbox Grid  */

.grid-four {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 48px;
	padding-right: 48px;
	display: flex;
	flex-flow: row wrap;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 3rem;
	padding-right: 3rem;
	height: 60vh;
}

.grid-four div {
	width: calc(99.9% * 1/1 - (30px - 30px * 1/1));
	font-size: 2em;
	background: rgb(0, 102, 102)
}

.grid-four div:nth-child(1n) {
            float: left;
            margin-right: 30px;
            clear: none
}

.grid-four div:last-child {
            margin-right: 0
}

.grid-four div:nth-child(1n) {
            margin-right: 0;
            float: right
}

.grid-four div:nth-child(1n + 1) {
            clear: both
}

@media (min-width: 576px) {
            .grid-four div {
		width: calc(99.9% * 1/2 - (30px - 30px * 1/2));
            }
            .grid-four div:nth-child(1n) {
                        float: left;
                        margin-right: 30px;
                        clear: none;
            }
            .grid-four div:last-child {
                        margin-right: 0;
            }
            .grid-four div:nth-child(2n) {
                        margin-right: 0;
                        float: right;
            }
            .grid-four div:nth-child(2n + 1) {
                        clear: both;
            }
	}

@media (min-width: 768px) {
            .grid-four div {
		width: calc(99.9% * 1/3 - (30px - 30px * 1/3));
            }
            .grid-four div:nth-child(1n) {
                        float: left;
                        margin-right: 30px;
                        clear: none;
            }
            .grid-four div:last-child {
                        margin-right: 0;
            }
            .grid-four div:nth-child(3n) {
                        margin-right: 0;
                        float: right;
            }
            .grid-four div:nth-child(3n + 1) {
                        clear: both;
            }
	}

@media (min-width: 992px) {
            .grid-four div {
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: calc(99.9% * 1/4 - (30px - 30px * 1/4));
		width: calc(99.9% * 1/4 - (30px - 30px * 1/4));
            }
            .grid-four div:nth-child(1n) {
                        margin-right: 30px;
                        margin-left: 0;
            }
            .grid-four div:last-child {
                        margin-right: 0;
            }
            .grid-four div:nth-child(4n) {
                        margin-right: 0;
                        margin-left: auto;
            }
	}

/* html setup */

/*<div>
        <section class="grid-one">
        <div class="grid-item">
            <div class="nested-grid"></div>
            <div class="nested-grid"></div>
        </div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
    </section>
    <section class="grid-one">
        <div class="grid-item">
            <div class="nested-grid"></div>
            <div class="nested-grid"></div>
        </div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
        <div class="grid-item"></div>
    </section>
    </div>

    <div>
        <section class="grid-two">
        <div class="grid-item">
            <div class="nested-grid"></div>
            <div class="nested-grid"></div>
        </div>
        <div class="grid-item"><p>This is paragraph!</p></div>
        <div class="grid-item"><p>This is paragraph!</p></div>
        <div class="grid-item"><p>This is paragraph!</p></div>
    </section>
    </div>

    <div>
        <section class="grid-three">
        <div class="grid-item">1</div>
        <div class="grid-item">2</div>
        <div class="grid-item">3</div>
        <div class="grid-item">4</div>
        <div class="grid-item">5</div>
        <div class="grid-item">6</div>
        <div class="grid-item">7</div>
        <div class="grid-item">8</div>
        <div class="grid-item">9</div>
        <div class="grid-item">10</div>
        <div class="grid-item">11</div>
        <div class="grid-item">12</div>
    </section>
    </div>

    <div>
        <section class="grid-four">
        <div class="grid-item">1</div>
        <div class="grid-item">2</div>
        <div class="grid-item">3</div>
        <div class="grid-item">4</div>
        <div class="grid-item">5</div>
        <div class="grid-item">6</div>
        <div class="grid-item">7</div>
        <div class="grid-item">8</div>
        <div class="grid-item">9</div>
        <div class="grid-item">10</div>
        <div class="grid-item">11</div>
        <div class="grid-item">12</div>
    </section>
    </div>*/

.url-shortener {

    min-height: 600px;
    min-width: 600px;
    max-height: 600px;
    max-width: 600px;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-flow: row wrap;
    max-width: 98%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-flow: row wrap;
    max-width: 98%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 16px;
    padding-top: 1rem;
    padding-bottom: 16px;
    padding-bottom: 1rem;
    background: rgba(96, 125, 139, 0.15)
}

.url-shortener__input {
        border-radius: .5rem .5rem 0 0;
        width: 100%;
        height: calc(99.9% * 3/8 - (10px - 10px * 3/8));
        margin-bottom: 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column wrap;
                flex-flow: column wrap;
        padding-top: 16px;
        padding-top: 1rem;
        -webkit-box-align: top;
            -ms-flex-align: top;
                align-items: top;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        background: #3E606F;
}

.url-shortener__input:last-child {
            margin-bottom: 0;
}

.url-shortener__input input[type="text"] {
            background: rgba(69, 90, 100, 0.25);
            border: none;
            width: 75%;
            height: 30px;
            padding-left: 5px;
}

#eyeDropper{
    background-color: #193441;
    // border-radius: 11%;
    outline: none;
    border: none;
    margin: 0 auto;
}

#eyeDropper:hover {
    background-color: #565556;
}

#palette{
    font-size: 12px;
    margin-left: 30px;
    margin-top: 25%;
    color:black;
}

.selectedColor{
    margin: 15px auto;
    width: 70px;
    height: 70px;
    background-color: #FCFFF5;
    border: 3px solid #FCFFF5;
}

.color-picker-popup{
    text-align: center;
    position: relative;
    overflow: auto;
    top: 0;
    left: 0;
    background-color: #3E606F;
    padding-top: 10%;
    color: #FCFFF5;
    min-height: 600px;
    min-width: 600px;
    max-height: 600px;
    max-width: 600px;
    width: 100%;
    height: 90vh;

}

.cTitle{
     position: relative;
     left: 200px;
     color:#FCFFF5;
     font-weight: bold;
}

.selectedTitle {
    color: #193441;
    font-size: 17.6px;
    font-size: 1.1rem;
    border-bottom: .5px solid #193441;
}

.color-picker-popup .table{
    margin-top: -20px;
    margin-left: 15px;
    background-color: #3E606F;
}

.color-picker-popup .table >.row:first-child{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
}

.color-picker-popup .table .col:nth-child(2){
      width: 60%;
}

#color-history-elements {
    border-spacing: 10px;
    border-collapse: separate !important;
}

#color-history{
    overflow-y:auto;
    height: 247px;
    margin-top: 8%;
}

#color-history-elements td{
    cursor: pointer;
    width:50px; 
    height:50px
}

#color-history-elements td:hover {
      box-shadow: inset 0 0 10px black;
}

#historyTitle{
    position: relative;
    top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.collapse{
  cursor: pointer;
  display: block;
  font-size: 20.8px;
  font-size: 1.3rem;
  border: 1px solid #727072;
  height: 25.6px;
  height: 1.6rem;
  background: #193441;
  line-height: 100%;
  padding-top: 3.5px;
}

.collapse + input{
  display: none; /* hide the checkboxes */
}

.collapse + input + div{
  display:none;
}

.collapse + input:checked + div{
  display:block;
}

.invisible {
    display: none;
}

.minimized {
    font-size: 15px;
    display: block;
    width: 130px;
    height: 120px
}

.minimized .selectedColor {
        margin: 5px auto;
}

.colorInfo {
    text-align: center;
}

.Chevron{
    position:relative;
    display:block;
    height:30px;/*height should be double border*/
}

.Chevron:before,
.Chevron:after{
    position:absolute;
    left: 8px;
    display:block;
    content:"";
    border:15px solid transparent;/*adjust size*/
}

/* Replace all text `top` below with left/right/bottom to rotate the chevron */

.Chevron:before{
    top:7px;
    border-top-color:#b00;/*Chevron Color*/
}

.Chevron:after{
    top:2px;/*adjust thickness*/
    border-top-color:#193441;/*Match background colour*/
}

.tab-content{
	display: none;
}

.options{
    cursor: pointer;
    position: absolute;
    z-index: 99;
    top: 0;
    width: 100%;
    min-height: 40px;
    max-height: 40px;
    color: #D1DBBD
}

.options ul {
        background: #193441;
        height: 40px;
        padding: 0;
        margin: 0;
}

.tab.active{
    background: #3E606F;
	color: #dbe0de;
    transition: background .2s ease-in-out; 
}

.active {
    display: inherit; /* This will hide all DIV elements and show the tab with current class only.*/
}

.popup{
    min-height: 600px;
    min-width: 600px;
    max-height: 600px;
    max-width: 600px;
    width: 100%;
    height: 90vh;
}

#settings {
  max-width: 600px;
  max-height: 600px;
  min-width: 600px;
  min-height: 600px;
  background: #3e606f;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  color: aliceblue;
  padding: 10%
}

#settings .urlS-settings {
    border: 1px solid white;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    min-width: 250px;
}

#settings .urlS-settings h3 {
      margin: 0;
      padding: 0;
      margin-bottom: 15px;
}

#quoteGrabber {
  text-align: center;
  top: 0;
  left: 0;
  
  border-collapse: separate;
  border-spacing: 0;
  /* border: 2px solid #ed1c40; */
  min-width: 600px;
  min-height: 600px;
  max-width: 600px;
  max-height: 600px;
  width: 100%;
  height: 90vh;
  padding-top: 40px;
  border-radius: .25rem;
}

#quotes {
  max-height: 400px;
max-width: 550px;
text-align: center;
font-family: sans-serif;
font-size: 0.9em;
  
color: whitesmoke;
display: block;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
/* margin: 15px auto; */
}

.head {
  
  width: 500px;
  margin: 8px auto 5px;
}

i#clearData {
  padding: 5px;
}

table#quotes td:first-child, table#quotes th:first-child  {
    width: 5%;
    padding-left: 10px;
    
}

table#quotes th:last-child {
    text-align: -webkit-center;
    
}

table#quotes thead tr:first-child {
  background: #3B54A3;
  color: #fff;
  border: none;
  height: 30px;
}

table#quotes th:first-child,
table#quotes td:first-child {
  padding: 0 15px 0 20px;
}

table#quotes thead tr:last-child th {
  border-bottom: 3px solid #ddd;
}

table#quotes tbody tr {
  background: rgba(34, 34, 34, .39);
}

table#quotes tbody tr:hover {
  background-color: #426A74;
  cursor: default;
  color: white;
}

table#quotes tbody tr:last-child td {
  border: none;
}

table#quotes tbody td {
  border-bottom: 1px solid #ddd;
}

.scrollbar::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  border-radius: 8px;
  background-color: #6B6B6B;
}

.scrollbar::-webkit-scrollbar
{
  width: 8px;
  background-color: #414040;
  border-radius: 12px;

}

.scrollbar::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

/* scrollbar */

.scrollbar
{
	/* margin-left: 30px; */
	/* float: left; */
	/* height: 300px; */
	width: 500px;
	/* background: #F5F5F5; */
  overflow-y: scroll;
  margin: auto;
	/* margin-bottom: 25px; */
}

.force-overflow
{
	min-height: 450px;
}

/*
 *  STYLE 1
 */

/* td:last-child {
  text-align: right;
  padding-right: 10px;
} */

.button {
  color: #B9C0D6;
  cursor: pointer;
  vertical-align: middle;
  margin-top: -4px;
}

.edit:hover {
  color: #0a79df;
}

.delete:hover {
  color: red;
}

*/


/* quoteGrabber styling 

#quoteGrabber {
    min-height: 600px;
    min-width: 600px;
    margin-top: 40px;

}

*/



/* quoteGrabber styling */



#quote,
#btns,
form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
}

/* 
button {
    margin: 0 15px;
} */

/* end of grabber styling */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/*# sourceMappingURL=main.css.map */
