.color-picker-popup{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    padding-left: 2%;
    padding-top: 10%;
    padding-right: 10%;
    visibility: hidden;
}
.color-picker-popup .table >.row:first-child{
    display:flex;
}
 .color-picker-popup .table .col:nth-child(2){
      width: 60%;
}
#color-history-elements {
    border-spacing: 10px;
    border-collapse: separate !important;
}
#color-history{
    overflow-y:auto;
    height: 300px;
    margin-top: 20%;
}
#color-history-elements td{
    cursor: pointer;
    width:50px; 
    height:50px;
}
#historyTitle{
    position: relative;
    top: 10px;
    font-size: 20px;
    font-weight: bold;
}
.url-shortener {
    min-height: 600px;
    min-width: 600px;
    max-height: 600px;
    max-width: 600px;
    width: 100%;
    height: 90vh;
    lost-center: 98% 1rem flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: color(#607D8B alpha(15%));
    &__input {
        border-radius: .5rem .5rem 0 0;
        lost-row: 3/8 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        border: 1px solid black;
        display: flex;
        flex-flow: column wrap;
        padding-top: 1rem;
        align-items: top;
        justify-content: center;
        background: color(white alpha(55%));
        & input[type="text"] {
            background: color(#455A64 alpha(45%));
            border: none;
            width: 75%;
            height: 30px;
            padding-left: 5px;
        }
        & input[type="text"]:focus {
            outline: none;
        }
        & input[type="submit"] {
            height: 30px;
            width: 15%;
            border: none;
            border-radius: 0 .5rem .5rem 0;
        }
        & .url-shortener__info {
            display: flex;
            flex-flow: column wrap;
            text-align: center;
            font-size: .95rem;
            margin-right: 1rem;
            align-items: center;
            justify-content: center;

            & a {
                text-decoration: none;
                color: var(--darkblue);
            }
        }

        & .url-shortener__qrcode {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            margin-top: 15px;
        }
    }
    &__history {
        lost-row: 5/8 10px;
        border: 1px solid black;
        background: color(white alpha(75%));
        font-size: 1rem;
        overflow: scroll;
        overflow-x: hidden;

        & a {
            text-decoration: none;
            color: #333538;
            font-size: 1.1rem;
        }
        & table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        & td {
            line-height: 35px;
        }
        & td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 3px;
        }
        & tr:nth-child(even) {
            background-color: color(#24292E tint(40%)); 
            color: #dddddd;
        }
        & td:first-of-type {
            width: 72%;
            text-indent: 5px;
        }
    }
}   