.options{
    position: absolute;
    z-index: 99;
    top: 0;
    width: 100%;
    min-height: 40px;
    max-height: 40px;
    & ul {
        background: rgb(124, 127, 130);
        height: 40px;
        padding: 0;
        margin: 0;
    }
    & li {
        list-style: none;
        float: left;
        width: 33%;
        text-align: center;
        line-height: 2.5;
        height: 40px;
        border-right: 1px solid black;
    }
    & .url-shortener-tab {
        background: color(white alpha(25%));
    }
}