#eyeDropper{
    background-color: #193441;
    // border-radius: 11%;
    outline: none;
    border: none;
    margin: 0 auto;
}

#eyeDropper:hover {
    background-color: #565556;
}
#palette{
    font-size: 12px;
    margin-left: 30px;
    margin-top: 25%;
    color:black;
}
.selectedColor{
    margin: 15px auto;
    width: 70px;
    height: 70px;
    background-color: #FCFFF5;
    border: 3px solid #FCFFF5;
}
.color-picker-popup{
    text-align: center;
    position: relative;
    overflow: auto;
    top: 0;
    left: 0;
    background-color: #3E606F;
    padding-top: 10%;
    color: #FCFFF5;
    min-height: 600px;
    min-width: 600px;
    max-height: 600px;
    max-width: 600px;
    width: 100%;
    height: 90vh;

}
.cTitle{
     position: relative;
     left: 200px;
     color:#FCFFF5;
     font-weight: bold;
}

.selectedTitle {
    color: #193441;
    font-size: 1.1rem;
    border-bottom: .5px solid #193441;
}
.color-picker-popup .table{
    margin-top: -20px;
    margin-left: 15px;
    background-color: #3E606F;
}
.color-picker-popup .table >.row:first-child{
    display:flex;
}
 .color-picker-popup .table .col:nth-child(2){
      width: 60%;
}
#color-history-elements {
    border-spacing: 10px;
    border-collapse: separate !important;
}
#color-history{
    overflow-y:auto;
    height: 247px;
    margin-top: 8%;
}
#color-history-elements td{
    cursor: pointer;
    width:50px; 
    height:50px;
    &:hover{
      box-shadow: inset 0 0 10px black;
    }
}
#historyTitle{
    position: relative;
    top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.collapse{
  cursor: pointer;
  display: block;
  font-size: 1.3rem;
  border: 1px solid #727072;
  height: 1.6rem;
  background: #193441;
  line-height: 100%;
  padding-top: 3.5px;
}
.collapse + input{
  display: none; /* hide the checkboxes */
}
.collapse + input + div{
  display:none;
}
.collapse + input:checked + div{
  display:block;
}
.invisible {
    display: none;
}
.minimized {
    font-size: 15px;
    display: block;
    width: 130px;
    height: 120px;

    & .selectedColor {
        margin: 5px auto;
    }
}
.colorInfo {
    text-align: center;
}

.Chevron{
    position:relative;
    display:block;
    height:30px;/*height should be double border*/
}
.Chevron:before,
.Chevron:after{
    position:absolute;
    left: 8px;
    display:block;
    content:"";
    border:15px solid transparent;/*adjust size*/
}
/* Replace all text `top` below with left/right/bottom to rotate the chevron */
.Chevron:before{
    top:7px;
    border-top-color:#b00;/*Chevron Color*/
}
.Chevron:after{
    top:2px;/*adjust thickness*/
    border-top-color:#193441;/*Match background colour*/
}