#palette{
    font-size: 12px;
    margin-left: 30px;
    margin-top: 25%;
    color:black;
}
#selectedColor{
    width: 70px;
    height: 70px;
    background-color: #FCFFF5;
    border: 3px solid #FCFFF5;
}
.color-picker-popup{
    min-height: 600px;
    min-width: 600px;
    max-height: 600px;
    max-width: 600px;

    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #3E606F;
    padding-top: 10%;
    color:#FCFFF5;
}
.cTitle{
     position: relative;
     left: 150px;
     color:#FCFFF5;
     font-weight: bold;
}
.color-picker-popup .table{
    margin-top: -20px;
    margin-left: 30px;
    background-color: #3E606F;
}
.color-picker-popup .table >.row:first-child{
    display:flex;
}
 .color-picker-popup .table .col:nth-child(2){
      width: 60%;
}
#color-history-elements {
    border-spacing: 10px;
    border-collapse: separate !important;
}
#color-history{
    overflow-y:auto;
    height: 350px;
    margin-top: 15%;
}
#color-history-elements td{
    cursor: pointer;
    width:50px; 
    height:50px;
}
#historyTitle{
    position: relative;
    top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.collapse{
  cursor: pointer;
  display: block;
}
.collapse + input{
  display: none; /* hide the checkboxes */
}
.collapse + input + div{
  display:none;
}
.collapse + input:checked + div{
  display:block;
}