#settings {
    max-width: 600px;
    max-height: 600px;
    min-width: 600px;
    min-height: 600px;
    background: #1A1A1A url('http://res.cloudinary.com/puritanic/image/upload/a_90/v1503500142/settings_xsad1t.png');
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}