.url-shortener {

    min-height: 600px;
    min-width: 600px;
    max-height: 600px;
    max-width: 600px;
    width: 100%;
    height: 90vh;
    lost-center: 98% 1rem flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: color(#607D8B alpha(15%));
    &__input {
        border-radius: .5rem .5rem 0 0;
        lost-row: 3/8 10px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        display: flex;
        flex-flow: column wrap;
        padding-top: 1rem;
        align-items: top;
        justify-content: center;
        background: #3E606F;
        & input[type="text"] {
            background: color(#455A64 alpha(25%));
            border: none;
            width: 75%;
            height: 30px;
            padding-left: 5px;
        }
        & input[type="text"]:focus {
            outline: none;
        }
        & input[type="submit"] {
            height: 30px;
            width: 15%;
            border: none;
            border-radius: 0 .5rem .5rem 0;
        }
        & .url-shortener__info {
            display: flex;
            flex-flow: column wrap;
            text-align: center;
            font-size: 1.25rem;
            margin-right: 1rem;
            align-items: center;
            justify-content: center;

            & a {
                text-decoration: none;
                color: #FCFFF5;
            }
        }

        & .url-shortener__qrcode {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            margin-top: 15px;
        }
    }
    &__history {
        lost-row: 5/8 10px;
        background: color(#455A64 alpha(75%));
        font-size: 1rem;
        overflow-y: auto;
        overflow-x: hidden;

        & a {
            text-decoration: none;
            color: #c6f31a;
            font-size: 1.1rem;
        }
        & table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        & td {
            line-height: 35px;
        }
        & td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 3px;
        }
        & tr:nth-child(even) {
            background-color: rgba(3, 37, 53, 0.59); 
            color: #dddddd;
        }
        & td:first-of-type {
            width: 72%;
            text-indent: 5px;
        }
    }
}   
